/* //////////////////////////////// */
/* 1100px */
/* /////////////////////////////// */

@media (max-width: 69em) {
  .html {
    font-size: 56.25;
  }
  .choose-splitter {
    gap: 10rem;
  }
  .course-cell {
    width: 31rem;
  }

  .course-pic {
    width: 30rem;
    height: 20rem;
  }
  .saying-splitter {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
  }
}

/* //////////////////////////////// */
/* 964px */
/* /////////////////////////////// */
@media (max-width: 61em) {
  .main-heading {
    font-size: 5.4rem;
  }
  .choose-splitter {
    flex-direction: column;
    align-items: center;
  }
  .choose-cell {
    width: 27rem;
  }
  .choose-left {
    text-align: center;
  }
  .choose-right {
    grid-template-columns: repeat(2, 1fr);
    gap: 7rem;
  }
  .help-splitter {
    grid-template-columns: 1fr;
    gap: 6.4rem;
  }
  .help-right {
    grid-row: 1/2;
    text-align: center;
  }
  .help-sub-splitter {
    justify-content: center;
    gap: 4rem;
  }
  .help-left {
    justify-self: center;
  }
  .course-variety {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 3rem;
  }
  .course-cell-3 {
    grid-column: -3/-1;
  }
  .saying-splitter {
    grid-template-columns: 1fr;
  }
  .saying-right {
    grid-row: 1/2;
    text-align: center;
  }
  .say-bottom-flex {
    justify-content: center;
    gap: 12rem;
    margin-bottom: 6.4rem;
  }
  .saying-left {
    justify-self: center;
  }
  .start-splitter {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .start-btns {
    justify-self: center;
  }
  .header {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
  .header-right {
    justify-self: center;
  }
  .header-left {
    justify-self: center;
    text-align: center;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
  }
}
/* //////////////////////////////// */
/* 714px */
/* /////////////////////////////// */
@media (max-width: 45em) {
  .nav-links {
    flex-direction: column;
    gap: 3rem;
    width: 30rem;
    height: 30rem;
    background-color: #fff;
    box-shadow: 2px 2px 2px #ccc, -2px -2px 2px #ccc;
    border-radius: 20px;
    /* text-align: center; */
    padding: 4rem 2rem 0 2rem;

    position: absolute;
    top: 8rem;
    left: 0;

    /* ///hidding the nav */
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
  .nav-link {
    border-bottom: 2px solid #ccc;
  }

  /* //////mobile////////// */
  .menu-icon {
    display: block;
  }

  /* ///////////////////opening the nav////////// */
  .nav-open {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
  }
  .red-menu {
    color: #f9595f;
  }

  .main-break {
    display: none;
  }
}

/* //////////////////////////////// */
/* 670px */
/* /////////////////////////////// */
@media (max-width: 41em) {
  h2 {
    font-size: 3.2rem;
  }
  .main-heading {
    font-size: 5rem;
  }
  .choose-right {
    grid-template-columns: 1fr;
  }
  .course-variety {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7rem;
  }
  .start-splitter {
    padding: 3.5rem 5rem;
  }
  /* //////////big1 ////////// */

  .big-1 {
    width: 30rem;
  }
  .pink-head-circle {
    width: 34rem;
    height: 34rem;

    top: 23rem;
    right: 1.5rem;
  }
  .dotted-circle {
    width: 37rem;
    height: 36rem;

    top: 20rem;
    right: -1rem;
  }
  .small-circle-head {
    top: 22rem;
    right: 34rem;
  }
  .grad-hat-head {
    top: 12rem;
    right: 29.5rem;
  }
  .head-free-courses {
    top: 15rem;
    right: -6rem;
  }
  .re-use-flex {
    top: 33rem;
    right: -5rem;
  }
  .graph {
    width: auto;
    top: 30rem;
    right: 21rem;
  }
  .graph-img {
    width: 15rem;
    height: 7rem;
    padding: 1rem;
  }
  /* //////////////// */
  .pic-cover-circle {
    width: 34rem;
    height: 34rem;
    /* border: 1px solid red; */

    top: 23.5rem;
    right: 1.5rem;
  }
  .bag-hider {
    top: 38.5rem;
    transform: rotate(144deg);
  }
  .big-2 {
    width: 32rem;
  }
  .red2-ball {
    top: 17rem;
    left: -2rem;
  }
  .yellow2-ball {
    top: 12rem;
    left: 28rem;
  }
  .purple2-ball {
    top: 8rem;
    left: 5rem;
  }
  .tower-2 {
    top: 27rem;
    left: 24rem;
  }
  .pic-bottom-round {
    width: 28rem;
    height: 28rem;

    top: 10.5rem;
    left: 3rem;
  }
  .left-cover {
    top: 35rem;
  }
  .right-cover {
    transform: rotate(140deg);
    top: 33rem;
    left: 19rem;
  }
  .big-3 {
    width: 30rem;
  }
  .big-3-circle {
    width: 27rem;
    height: 27rem;

    top: 6rem;
    left: -1rem;
  }
  .big-3-circle-hider {
    width: 27rem;
    height: 27rem;
    border-bottom: 2px solid #fff;

    top: 6rem;
    left: -1rem;
    transform: rotate(350deg);
  }

  .big-3-lft-cover {
    top: 32.4rem;
    left: 3.5rem;

    transform: rotate(17deg);
  }
  .big-3-rgt-cover {
    top: 33rem;
    left: 10rem;
  }
}

/* //////////////////////////////// */
/* 514px */
/* /////////////////////////////// */
@media (max-width: 33em) {
  .start-btns {
    flex-direction: column;
  }
  h2 {
    font-size: 3rem;
  }
  .main-heading {
    font-size: 4.6rem;
  }

  .nav-btn-1:link,
  .nav-btn-2:visited {
    font-size: 1.3rem;
  }
  .nav-btn-2:link,
  .nav-btn-2:visited {
    font-size: 1.3rem;
  }
}

/* //////////////////////////////// */
/* 490px */
/* /////////////////////////////// */
@media (max-width: 30em) {
  .big-1 {
    width: 25rem;
  }
  .pink-head-circle {
    width: 30rem;
    height: 30rem;

    top: 18rem;
    right: 0rem;
  }
  .dotted-circle {
    width: 32rem;
    height: 31rem;

    top: 15rem;
    right: -2rem;
  }
  .small-circle-head {
    width: 2.2rem;
    height: 2.2rem;

    top: 17rem;
    right: 28.5rem;
  }
  .grad-hat-head {
    width: 3.6rem;
    height: 3.6rem;
    top: 7rem;
    right: 23rem;
  }
  .head-free-courses {
    top: 11rem;
    right: -5rem;
    padding: 0.7rem;
  }
  .movie-icon {
    font-size: 1.6rem;
  }
  .aaa {
    padding: 0.7rem;
  }
  .red-10 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .bbbb {
    font-size: 1rem;
  }
  .re-use-flex {
    font-size: 1.6rem;
    padding: 1rem;

    top: 27rem;
    right: -3rem;
  }
  .tower-icon {
    font-size: 1.8rem;
  }
  .graph {
    width: auto;
    top: 25rem;
    right: 17rem;
  }
  .graph-img {
    width: 12rem;
    height: 5rem;
    padding: 1rem;
  }
  .graph-text-1 {
    font-size: 1.4rem;
  }
  .graph-text-2 {
    font-size: 1rem;
  }
  /* //////////////// */
  .pic-cover-circle {
    width: 30rem;
    height: 30rem;
    /* border: 1px solid red; */

    top: 18rem;
    right: 0rem;
  }
  .bag-hider {
    top: 32rem;
    transform: rotate(150deg);
  }
  .courses-2 {
    top: 29rem;
    left: -2rem;
  }
  h2 {
    font-size: 2.8rem;
  }
  .nav-right {
    gap: 1rem;
  }
  .inPut {
    font-size: 1.2rem;
  }
  .foot-arrow {
    width: 3rem;
    height: 3rem;
    font-size: 1.4rem;
  }
}

/* //////////////////////////////// */
/* 390px */
/* /////////////////////////////// */
@media (max-width: 24em) {
  .main-heading {
    font-size: 4rem;
  }
  .graph {
    right: 14rem;
  }
  .discover-first-spliter {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  .head-free-courses {
    top: 11rem;
    right: -3rem;
    padding: 0.7rem;
  }
}
