/* 
colors
maincolor:#fa5252
light main:#ffc9c9

greyText:#868e96
logincolor:##ff6b6b



*/
:root {
  --two-colors: linear-gradient(to top, #fa5252, #ffc9c9);
  --main-color: #fa5252;
  --light_main: #ffc9c9;
  ---grey-text: #868e96;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: inter;
  color: #555;
}

.the-whole-page {
  padding: 0 3.2rem;
}
.container {
  max-width: 120rem;
  margin: 0 auto;

  margin-bottom: 13rem;
}
P {
  font-family: Roboto;
}
h2 {
  font-size: 3.6rem;
}

/* /////////////////////////////////////// */
/* HEADER SECTION */
/*//////////////////////////////////////////  */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.6rem;
  margin-bottom: 6.4rem;
}

.Sinau {
  font-size: 2rem;
  color: #fa5252;
  font-weight: 700;
}
.nav-links {
  display: flex;
  gap: 2rem;
}
.nav-link:link,
.nav-link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #868e96;
}
.nav-link:hover,
.nav-link:active {
  color: #fa5252;
  text-decoration: underline;
}

.nav-right {
  display: flex;
  gap: 2rem;
}

.nav-btn-1:link,
.nav-btn-1:visited {
  transition: 0.2s;
  border: 2px solid #ffc9c9;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
}
.nav-btn-1:hover,
.nav-btn-1:active {
  color: #ff6b6b;
}
.nav-btn-2:link,
.nav-btn-2:visited {
  background-image: var(--two-colors);
  color: #fff;
  font-size: 1.6rem;
  border-radius: 30px;
  text-decoration: none;
}
.nav-btn-2:hover,
.nav-btn-2:active {
  background-image: none;
  background-color: #fa5252;
}
.nav-2-btn {
  padding: 1rem 1.5rem;
}
/* /////////////////////////// */
.header {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  align-items: center;
}

.main-heading {
  font-size: 6rem;
  font-family: Lora;
}
.red-heading {
  color: var(--main-color);
}
.head-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin: 4.2rem 0 6.4rem 0;
}
.btn-heade-2 {
  padding: 1.5rem 3rem;
}
/* ////////////////////////////////////////////// */
.header-right {
  position: relative;
  justify-self: end;
}
.big-1 {
  width: 38rem;
  z-index: 5;
}
.pink-head-circle {
  background-image: linear-gradient(to top, #ff6b6b, #ffc9c9);
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  z-index: -1;

  position: absolute;
  top: 29rem;
  right: 1.5rem;
  transform: translate(5%, -38%);
}
/* ///////////////////////////////////////////////////////////////////// */
.pic-cover-circle {
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  /* border: 1px solid red; */
  border-bottom: 2rem solid #fff;
  z-index: 7;

  position: absolute;
  top: 29rem;
  right: 1.5rem;
  transform: translate(5%, -38%);
}
.bag-hider {
  width: 20rem;
  height: 10rem;
  z-index: 7;
  background-color: #fff;

  position: absolute;
  top: 48rem;
  right: -7rem;
  /* transform: translate(70%, -50%); */
  transform: rotate(140deg);
}

.bottom-hidder {
  width: 10rem;
  height: 5rem;
  background-color: #fff;
  z-index: 3;

  position: absolute;
  top: 52rem;
  right: 30rem;
}

/* ///////////////////////////////////////////////////////////////////// */

.dotted-circle {
  width: 48rem;
  height: 47rem;
  border: 2px dashed #ff6b6b;
  border-radius: 50%;
  z-index: -2;

  position: absolute;
  top: 25rem;
  right: -1rem;
  transform: translate(1.5%, -35%);
}
.small-circle-head {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-image: var(--two-colors);

  position: absolute;
  top: 25rem;
  right: 44rem;
}
.grad-hat-head {
  background-image: var(--two-colors);
  color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 15rem;
  right: 38.5rem;
}

.grad-cap-icon {
  font-size: 2rem;
}

.head-free-courses {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 2px 2px 4px #ccc;
  border-radius: 15px;
  z-index: 10;

  position: absolute;
  top: 20rem;
  right: -6rem;
}
.free-course {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.movie-icon,
.red-10 {
  color: var(--main-color);
}
.movie-icon {
  font-size: 2rem;
}
.red-10 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.bbbb {
  font-size: 1.2rem;
}
.aaa {
  padding: 1rem;
  background-color: var(--light_main);
  border-radius: 5px;
}

/* ////////////////////////////////// */
/* re-usable */
.re-use-flex {
  display: flex;
  gap: 1rem;
  background-image: var(--two-colors);
  color: #fff;
  font-size: 2rem;
  padding: 1.2rem 1.8rem;
  border-radius: 30px;
  z-index: 10;

  position: absolute;
  top: 40rem;
  right: -6rem;
}
.tower-icon {
  font-size: 2.4rem;
}
/* ////////////////////////////////////// */

.graph {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #ccc;
  padding: 1rem 1.5rem;
  z-index: 10;
  width: 20rem;

  position: absolute;
  top: 38rem;
  right: 30rem;
}
.graph-text-1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.graph-text-2 {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.graph-img {
  width: 18rem;
  height: 8rem;
}

/* /////////////////////////////////////// */
/* CHOOSE SECTION */
/*//////////////////////////////////////////  */
.choose-splitter {
  display: flex;
  gap: 20rem;
}
.choose-left-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-top: 2rem;
}
.choose-img {
  width: 5.4rem;
  height: 5.2rem;
}
.choose-text-1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 3rem 0 2rem 0;
}
.choose-text-2 {
  font-size: 1.6rem;
  line-height: 1.6;
}
.choose-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  row-gap: 3rem;
}

/* /////////////////////////////////////// */
/* HELP SECTION */
/*//////////////////////////////////////////  */

.help-splitter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.help-left {
  position: relative;
}
/* ////////////////////////////// */
.big-2 {
  width: 38rem;
  background-color: #fff;
}
.red2-ball {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-image: var(--two-colors);
  z-index: 10;

  position: absolute;
  top: 20rem;
  left: -2rem;
}
.purple2-ball {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  /* background-color: #cc5de8; */
  background-image: linear-gradient(to top, #cc5de8, #eebefa);
  z-index: 10;

  position: absolute;
  top: 10rem;
  left: 5rem;
}
.yellow2-ball {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-image: linear-gradient(to top, #fcc419, #ffec99);
  z-index: 10;

  position: absolute;
  top: 12rem;
  left: 32rem;
}

.pic-bottom-round {
  border-bottom: 3rem solid #fff;

  width: 38rem;
  height: 38rem;
  border-radius: 50%;
  z-index: 7;

  position: absolute;
  top: 8.5rem;
  left: 3rem;
}

.left-cover,
.right-cover {
  width: 20rem;
  height: 10rem;
  position: absolute;
  z-index: 7;
}
.left-cover {
  transform: rotate(40deg);
  top: 40rem;
  left: -2rem;
  background-color: #fff;
}
.right-cover {
  transform: rotate(150deg);
  top: 40rem;
  left: 26rem;
  background-color: #fff;
}
.tower-2 {
  display: flex;
  gap: 1rem;
  background-image: var(--two-colors);
  color: #fff;
  font-size: 2rem;
  padding: 1.2rem 1.8rem;
  border-radius: 30px;
  z-index: 10;

  position: absolute;
  top: 37rem;
  left: 28rem;
}
.courses-2 {
  background-color: #fff;
  padding: 1rem;
  box-shadow: 2px 2px 4px #ccc;
  border-radius: 15px;
  z-index: 10;

  position: absolute;
  top: 29rem;
  left: -5rem;
}

/* ///////////////////////////////////// */
.help-right {
  align-self: center;
}
.help-text-0 {
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 2rem 0 6rem 0;
}
.help-sub-splitter {
  display: flex;
  justify-content: space-between;
}
.help-text-1 {
  font-size: 4.8rem;
  font-weight: 600;
  color: var(--main-color);
}
.help-text-2 {
  font-size: 1.8rem;
}
/* /////////////////////////////////////// */
/* DISCOVER SECTION */
/*//////////////////////////////////////////  */
.discover-first-spliter {
  display: flex;
  justify-content: space-between;
}
.btn-splitter {
  display: flex;
  gap: 2rem;
}
.disc-icon {
  width: 4rem;
  height: 4rem;
  font-size: 1.6rem;
  text-align: center;
  padding: 1rem;
  box-shadow: 1px 1px 1px rgba(204, 204, 204, 0.526),
    -1px -1px 1px rgba(204, 204, 204, 0.532);

  border-radius: 50%;
}
.less-than {
  color: var(--main-color);
}
.more-than {
  color: #fff;
  background-image: var(--two-colors);
}
.course-variety {
  display: flex;
  justify-content: space-between;
  margin-top: 9.6rem;
}
.course-cell {
  width: 35rem;
}

.course-pic {
  width: 34rem;
  height: 24rem;
  border-radius: 10px;
}

.discover-text-1 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  margin: 2rem 0;
}
.discover-text-2 {
  font-size: 1.6rem;
  line-height: 1.6;
}
.disc-bottom-flex {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}
.DT-1 {
  font-size: 2rem;
  font-weight: 600;
}
.DT-2 {
  font-size: 2rem;
  color: #868e96;
}
.DT-3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--main-color);
}
.star-flex {
  display: flex;
  gap: 1rem;
}
.star-icon {
  font-size: 2rem;
  color: #fcc419;
}

/* /////////////////////////////////////// */
/*  SECTION Saying */
/*//////////////////////////////////////////  */
.saying-splitter {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.saying-right {
  align-self: center;
}
.saying-text-1 {
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 4rem 0 3rem 0;
}
.say-bottom-flex {
  display: flex;
  justify-content: space-between;
}
.saying-text-2 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.saying-text-3 {
  font-size: 1.4rem;
  color: #868e96;
}

/* ////////////////////////////////////// */
.saying-left {
  position: relative;
}
.big-3 {
  width: 50rem;
}
.big-3-circle {
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  background-color: var(--main-color);
  z-index: -1;

  position: absolute;
  top: 10rem;
  left: -1rem;
}
.big-3-circle-hider {
  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  /* border: 1px solid red; */
  /* border-bottom: 2px solid blue; */
  z-index: 5;

  position: absolute;
  top: 10rem;
  left: -1rem;
  transform: rotate(340deg);
}
.big-3-lft-cover,
.big-3-rgt-cover {
  width: 10rem;
  height: 5rem;
  z-index: 5;
  background-color: #fff;
  position: absolute;
}
.big-3-lft-cover {
  top: 53.3rem;
  left: 7.5rem;
  transform: rotate(20deg);
}
.big-3-rgt-cover {
  top: 53.8rem;
  left: 24rem;
  transform: rotate(162deg);
}
/* /////////////////////////////////////// */
/* START SECTION */
/*//////////////////////////////////////////  */
.start-splitter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 7rem 10rem;
  align-items: center;
  position: relative;
}

.start-heading {
  color: #fff;
}

.start-btns {
  display: flex;
  gap: 2rem;
  justify-self: end;
}
.start-btn-1,
.start-btn-2 {
  font-size: 1.6rem;
  padding: 1.6rem 3rem;
  border-radius: 30px;
  text-decoration: none;
  max-height: 6rem;
}

.start-btn-1:link,
.start-btn-1:visited {
  color: var(--main-color);
  background-color: #fff;
}
.start-btn-1:active,
.start-btn-1:hover {
  background-color: var(--light_main);
  color: #fff;
}
.start-btn-2:link,
.start-btn-2:visited {
  color: #fff;
  background-color: var(--main-color);
  border: 1px solid #fff;
}
.start-btn-2:active,
.start-btn-2:hover {
  text-decoration: underline;
}

.fadded-circle {
  width: 25rem;
  height: 25rem;
  /* color: rgba(255, 255, 255, 0.566); */
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;

  position: absolute;
  top: -5rem;
  left: -4rem;
}
