/* 
colors
maincolor:#fa5252
light main:#ffc9c9

greyText:#868e96
logincolor:##ff6b6b



*/
:root {
  --two-colors: linear-gradient(to top, #fa5252, #ffc9c9);
  --main-color: #fa5252;
  --light_main: #ffc9c9;
  ---grey-text: #868e96;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: inter;
  color: #555;
}

.the-whole-page {
  padding: 0 3.2rem;
}
.container {
  max-width: 120rem;
  margin: 0 auto;

  margin-bottom: 130rem;
}
P {
  font-family: Roboto;
}

/* /////////////////////////////////////// */
/* HEADER SECTION */
/*//////////////////////////////////////////  */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.6rem;
  margin-bottom: 6.4rem;
}

.Sinau {
  font-size: 2rem;
  color: #fa5252;
  font-weight: 700;
}
.nav-links {
  display: flex;
  gap: 2rem;
}
.nav-link:link,
.nav-link:visited {
  font-size: 1.6rem;
  text-decoration: none;
  color: #868e96;
}
.nav-link:hover,
.nav-link:active {
  color: #fa5252;
  text-decoration: underline;
}

.nav-right {
  display: flex;
  gap: 2rem;
}

.nav-btn-1:link,
.nav-btn-1:visited {
  transition: 0.2s;
  border: 2px solid #ffc9c9;
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
}
.nav-btn-1:hover,
.nav-btn-1:active {
  color: #ff6b6b;
}
.nav-btn-2:link,
.nav-btn-2:visited {
  background-image: var(--two-colors);
  color: #fff;
  font-size: 1.6rem;
  border-radius: 30px;
  text-decoration: none;
}
.nav-btn-2:hover,
.nav-btn-2:active {
  background-image: none;
  background-color: #fa5252;
}
.nav-2-btn {
  padding: 1rem 1.5rem;
}
/* /////////////////////////// */
.header {
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  align-items: center;
}

.main-heading {
  font-size: 6rem;
  font-family: Lora;
}
.red-heading {
  color: var(--main-color);
}
.head-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin: 4.2rem 0 6.4rem 0;
}
.btn-heade-2 {
  padding: 1.5rem 3rem;
}
/* ////////////////////////////////////////////// */
.header-right {
  position: relative;
  justify-self: center;
}
.big-1 {
  width: 38rem;
  z-index: 5;
}
.pink-head-circle {
  background-image: linear-gradient(to top, #ff6b6b, #ffc9c9);
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  z-index: -1;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(5%, -38%);
}
.pic-cover-circle {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  /* border: 1px solid red; */
  border-bottom: 4rem solid #fff;
  z-index: 7;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(5%, -31%);
}
.bag-hider {
  width: 20rem;
  height: 10rem;
  z-index: 7;
  background-color: #fff;

  position: absolute;
  top: 71%;
  left: 71%;
  /* transform: translate(70%, -50%); */
  transform: rotate(130deg);
}

.dotted-circle {
  width: 43rem;
  height: 42rem;
  border: 2px dotted #ff6b6b;
  border-radius: 50%;
  z-index: -2;

  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(1.5%, -35%);
}
.small-circle-head {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-image: var(--two-colors);

  position: absolute;
  top: 40%;
  left: 50.5%;
}
.grad-hat-head {
  background-image: var(--two-colors);
  color: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 30%;
  left: 53%;
}

.head-free-courses {
  background-color: #fff;
  padding: 1rem 1.6rem;
  box-shadow: 2px 2px 4px #ccc;
  border-radius: 15px;
  z-index: 10;

  position: absolute;
  top: 40%;
  right: 17%;
}
.free-course {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.movie-icon,
.red-10 {
  color: var(--main-color);
}
.movie-icon {
  font-size: 2rem;
}
.red-10 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.bbbb {
  font-size: 1.2rem;
}
.aaa {
  padding: 1rem;
  background-color: var(--light_main);
  border-radius: 5px;
}

/* ////////////////////////////////// */
/* re-usable */
.re-use-flex {
  display: flex;
  gap: 1rem;
  background-image: var(--two-colors);
  color: #fff;
  font-size: 2rem;
  padding: 1.2rem 1.8rem;
  border-radius: 30px;
  z-index: 10;

  position: absolute;
  top: 65%;
  right: 18%;
}
/* ////////////////////////////////////// */

.graph {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #ccc;
  padding: 1rem 1.5rem;
  z-index: 10;
  width: 20rem;

  position: absolute;
  top: 60%;
  left: 48%;
}
.graph-text-1 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.graph-text-2 {
  font-size: 1.2rem;
  margin-top: 1rem;
}
.graph-img {
  width: 18rem;
  height: 8rem;
}
